# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
.env*.local
!.env.example

# Builds
.next/
out/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
coverage/
.vercel
